<!-- ■■■■■ ProfileFooter start ■■■■■ -->
<div
  class="profile-footer fixed bottom-0 left-0 right-0 h-16 flex items-center justify-around gap-2 border border-gray-200 my-4 text-center"
>
  <div class="profile-footer-home flex flex-col items-center gap-0.5">
    <img src="./../../icons/tab-home.svg" />
    <p>홈</p>
  </div>
  <div class="profile-footer-record flex flex-col items-center gap-0.5">
    <img src="./../../icons/tab-record.svg" />
    <p>기록</p>
  </div>
  <div class="profile-footer-target flex flex-col items-center gap-0.5">
    <img src="./../../icons/tab-target.svg" />
    <p>목표</p>
  </div>
  <div class="profile-footer-profile flex flex-col items-center gap-0.5">
    <img src="./../../icons/tab-profile.svg" />
    <p>프로필</p>
  </div>
</div>
<!-- ■■■■■ ProfileFooter end ■■■■■ -->
